@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }

  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }

  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }

  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
  .text-outline {
    -webkit-text-stroke: 1px #ffffff;
  }

  .text-outline-hover {
    -webkit-text-stroke: 1px #00ff99;
  }

  .scrollbar {
    overflow-y: auto;
  }

  /* 스크롤바의 폭 너비 */
  .scrollbar::-webkit-scrollbar {
    width: 1px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, #4caf50, #00ff99);
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #1c1c22; /*스크롤바 뒷 배경 색상*/
  }
}
